@for (item of listCategory; track item.id) {
    <div class="card text-center mb-3 p-2" style="width: 30rem;">
        <div class="card-body">
            <div class="container text-center">
                <div class="row align-items-end">
                <div class="col">
                    <h5 class="text-lowercase">{{item.name}}</h5>
                </div>
                <div class="col">
                </div>
                <div class="col">
                    <button type="button" class="btn btn-outline-secondary" disabled>{{item.category}}</button>
                </div>
                </div>
            </div>
            <div class="container text-center">
                <div class="row align-items-end">
                    <div class="col">
                        <p class="text-body-secondary text-left">Valor suscripción minima</p>
                    </div>
                
                    <div class="col" >
                        <p class="text-body-secondary text-left">COP ${{item.amountMin}}</p>
                    </div>
                </div>
            </div>
        <button type="button" class="btn btn-success" [attr.data-bs-target]="'#exampleModal'" 
        [attr.data-bs-toggle]="'modal'" (click)="setSelectedId(item.id,item.amountMin)">
        Acquired
        </button>    
    </div>
    </div>
}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Subscribe</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="form" (ngSubmit)="create()">
            <div class="modal-body">
                <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">amount:</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">$</span>
                        <input type="text" formControlName="amount" class="form-control" aria-label="Amount (to the nearest dollar)">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" formControlName="notification" value="Email"  id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Email notification
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" formControlName="notification" value="SMS"  id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        SMS notification
                    </label>
                </div>

                @if (messageValidate) {
                    <div class="alert alert-danger" role="alert">
                    {{messageValidate}}
                    </div>
                }
            </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary">Buy</button>
        </div>
    </form>
    </div>
    </div>
</div>
<div class="modal fade" id="exampleModal-success" tabindex="-1" aria-labelledby="exampleModal-successLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" id="" aria-hidden="true">
        <div class="alert alert-success" role="alert">
            Successful fund subscription
            you will receive a {{method}}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-check" viewBox="0 0 16 16">
            <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855a.75.75 0 0 0-.124 1.329l4.995 3.178 1.531 2.406a.5.5 0 0 0 .844-.536L6.637 10.07l7.494-7.494-1.895 4.738a.5.5 0 1 0 .928.372zm-2.54 1.183L5.93 9.363 1.591 6.602z"/>
            <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686"/>
        </svg>
        </div>
    </div>
</div>
